name: Build React App (Test Branch)

on:
  push:
    branches:
      - test

jobs:
  migrate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Build React App
        run: |
          pnpm install
          pnpm --filter web run build-react-app-on-deno-deploy:preview
